@use "./variables.scss" as var;
@use "./reusables.scss";

@mixin small-laptop {
    @media (max-width: #{var.$small-laptop}) {
        @content;
    }
}
@mixin big-mobile {
    @media (max-width: #{var.$big-mobile}) {
        @content;
    }
}

.navbarContainer {
    background-color: var.$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var.$padding-desktop;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 300ms ease;
    position: sticky;
    top: 0;
    left: 0;
    height: 69.4px;
    z-index: 10;
    // width: 100vw;
    @include small-laptop {
        padding: var.$padding-mobile;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: var.$space-48px;
        @include small-laptop {
            gap: var.$space-24px;
        }
        .logo {
            // height: var.$space-24px;
            min-width: var.$space-64px;
            max-width: var.$space-64px;
            // border: 1px solid;
            display: inline-flex;
        }
        .searchDiv {
            // border: 1px solid;
            position: relative;
            input {
                transition: all 300ms ease;
                min-width: 240px;
                &:focus {
                    // border: 1px solid;
                    box-shadow: 0px 0px 0.5px 1.6px rgba(2, 125, 255, 0.15);
                }

                @include small-laptop {
                    width: 96px;
                    min-width: 96px;
                }
            }
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: var.$space-32px;
        width: 100%;
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            // gap: var.$space-4px;
            margin: 0 auto;
            margin-left: var.$space-32px;
            a,
            li {
                padding: var.$space-24px var.$space-12px;
                font-weight: var.$bold;
                display: flex;
                align-items: center;
                gap: var.$space-4px;
                cursor: pointer;
                position: relative;

                @include small-laptop {
                    font-size: var.$space-12px;
                }

                &::after {
                    position: absolute;
                    width: 100%;
                    height: var.$space-8px;
                    background-color: rgba(var.$primary-color, 0.4);
                    bottom: 0;
                    left: 0;
                    content: "";
                    transform: translateY(-8px);
                    opacity: 0;
                    transition: all 300ms ease;
                }

                &:hover {
                    // background-color: lighten($color: var.$grey, $amount: 0.06);\
                    background-color: rgba(var.$grey, 0.4);
                    color: var.$primary-color;
                    &::after {
                        background-color: var.$primary-color;
                        height: var.$space-2px;
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
                &:last-child {
                    &::after {
                        opacity: 0;
                    }
                    &:hover {
                        .dropdownContainer {
                            animation: in 300ms ease;
                            opacity: 1;
                            transform: translateY(0);
                            // &:hover {
                            //     color: ;
                            // }
                        }
                    }
                }
                @keyframes in {
                    from {
                        opacity: 0;
                        transform: translateY(-12px);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                svg {
                    color: var.$primary-color;
                }

                .dropdownContainer {
                    position: absolute;
                    z-index: 1;
                    top: var.$space-64px - 4px;
                    // border: 1px solid;
                    min-width: var.$space-128px + var.$space-48px;
                    background-color: var.$white;
                    border-top: var.$space-2px solid var.$primary-color;
                    border-radius: var.$space-4px;
                    opacity: 0;
                    transform: translateY(-12px);
                    transition: all 300ms ease;
                    a {
                        width: 100%;
                        &::after {
                            display: none;
                        }
                    }
                    span {
                        margin: 0;
                        text-transform: none;
                        color: var.$dark-blue;
                        font-weight: var.$bold;
                        padding: var.$space-8px var.$space-12px;
                        width: 100%;
                        &:hover {
                            background-color: var.$grey;
                        }
                    }
                }
            }
            a {
                color: var.$dark-blue;
                display: flex;
                padding: 0;
            }
        }
    }

    &__mobileNav {
        // border: 1px solid;
        display: flex;
        align-items: center;
        gap: var.$space-8px;
        position: sticky;
        height: 72px;
        a {
            display: flex;
        }
        .menu,
        .user,
        .search {
            display: inline-flex;
            // border: 1px solid;
            padding: var.$space-8px;
            position: relative;
            svg {
                color: var.$primary-color;
            }
        }
        .menu {
            @include small-laptop {
                padding-right: 0;
            }
        }
        .search {
            .mobileSearchDiv {
                @extend .searchDiv;
                position: fixed;
                top: var.$space-72px - 4px;
                left: 0px;
                width: 100%;
                display: flex;
                &::after {
                    background-color: rgba(var.$white, 0.6);
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    content: '';
                    user-select: none;
                    pointer-events: none;
                }

                input {
                    width: 100%;
                    height: var.$space-32px;
                    z-index: 2;
                    &:focus {
                        border: 1px solid rgba($color: var.$primary-color, $alpha: 0.3);
                    }
                }
                .searchResultsContainer {
                    width: 100%;
                    padding: 0px;
                    transform: translateY(var.$space-16px);
                    z-index: 2;

                    & > a, .eachResult {
                        width: 100%;
                    }
                    .eachResult {
                        gap: var.$space-8px;
                        margin: 0px var.$space-8px;
                        &__courseDetails {
                            .topAreaDetails {
                                .details {
                                    .courseTitle {
                                        font-size: var.$space-16px;
                                    }
                                    .category {
                                        & > span , & > p {
                                            font-size: var.$space-12px;
                                            white-space: nowrap;
                                        }
                                    }
                                }
                                .courseTypeFree, .courseTypePaid {
                                    font-size: var.$space-12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .profileIcon {
            display: inline-flex;
            margin: 0;
        }
    }
}

.sidebarContainer {
    width: 100vw;
    height: 100vh;

    .overlay {
        background-color: rgba(var.$black, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        width: 80%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var.$white;
        height: 100%;
        overflow-x: hidden;
        transform: translate(0%);
        display: flex;
        align-items: center;
        animation: barDisplay 400ms ease;
        z-index: 3;
        @keyframes barDisplay {
            from {
                right: -100%;
                opacity: 0;
                width: 0px;
            }
            to {
            }
        }

        .topArea {
            position: absolute;
            top: 0;
            width: 100%;
            padding: var.$space-8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__logo {
                // border: 1px solid;
                width: var.$space-120px;
                min-width: var.$space-120px;
                margin-left: var.$space-12px;
            }
            &__closeIcon {
                // border: 1px solid;
                display: inline-flex;
                padding: var.$space-8px;
                margin-right: var.$space-12px;
                color: var.$primary-color;
                // position: absolute;
                // top: 10px;
                // right: 10px;
                svg {
                    width: var.$space-32px;
                    height: var.$space-32px;
                }
            }
        }

        ul {
            padding: 0;
            display: inline-flex;
            flex-direction: column;
            gap: var.$space-24px;
            list-style: none;
            align-items: center;
            // border: 1px solid;
            width: 80%;
            transform: translateY(-50px);
            margin-left: var.$space-12px + var.$space-8px;
            a,
            li {
                // border: 1px solid;
                font-size: var.$space-16px;
                padding: var.$space-8px;
                width: 100%;
                // display: grid;
                // place-items: center;
                font-weight: var.$bold;
            }
            a {
                padding: 0;
                color: var.$dark-blue;
                &:hover {
                    background-color: var.$grey;
                    color: var.$primary-color;
                }
                li {
                    padding-left: 0;
                }
            }
        }
    }
}

.searchResultsContainer {
    position: absolute;
    top: var.$space-40px + 4px;
    width: 330px;
    max-height: 360px;
    padding: var.$space-4px;
    display: flex;
    flex-direction: column;
    background-color: var.$white;
    border-radius: var.$space-12px;
    overflow: hidden;
    overflow-y: auto;

    & > a {
        width: 100%;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var.$primary-color;
        border-radius: 20px;
        border: 2.4px solid transparent;
        &:hover {
            background-color: var.$dark-blue;
        }
    }
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    @media screen and (max-height: 360px) {
        height: 100vh;
        max-height: 100vh;
    }
    .eachResult {
        display: flex;
        // align-items: flex-start;
        align-items: center;
        gap: var.$space-4px;
        background: var.$white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
        padding: var.$space-8px;
        transition: all 300ms ease;
        position: relative;
        cursor: pointer;
        // width: 100%;
        // border: 2px solid;

        &:hover {
            background-color: var.$grey;
            .eachResult__image {
                img {
                    scale: 1.1;
                }
            }
            .courseTitle {
                color: var.$primary-color;
            }
        }

        h1,
        span,
        p {
            margin: 0;
        }

        &__image {
            width: var.$space-96px;
            height: var.$space-96px;
            min-width: var.$space-96px;
            min-height: var.$space-96px;
            border-radius: var.$space-4px;
            overflow: hidden;
            img {
                object-fit: cover;
                transition: all 300ms ease;
            }
        }
        &__courseDetails {
            display: flex;
            flex-direction: column;
            width: 100%;

            .topAreaDetails {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: var.$space-2px;
                width: 100%;

                .details {
                    max-width: 156px;
                    .courseTitle {
                        font-size: var.$space-12px;
                        transition: all 300ms ease;
                        cursor: pointer;
                        // max-height: 33.6px;
                        // white-space: nowrap;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                    }
                    .publisherName {
                        font-size: var.$space-12px;
                        color: var.$dark-blue;
                    }
                    .category {
                        display: flex;
                        align-items: center;
                        gap: var.$space-4px;
                        span,
                        p {
                            font-size: var.$space-12px - 2px;
                        }
                        span {
                            color: var.$primary-color;
                            margin: 0;
                            font-size: var.$space-8px;
                        }
                    }
                }
                .courseTypeFree,
                courseTypePaid {
                    padding: var.$space-2px var.$space-12px - 2px;
                    background-color: var.$primary-color;
                    color: var.$white;
                    border-radius: var.$space-12px;
                    font-size: var.$space-8px;
                    margin: 0;
                }
                .courseTypePaid {
                    background-color: var.$paid;
                }
            }
            .bottomAreaDetails {
                .tagsArea {
                    display: none;
                    span {
                        font-size: var.$space-8px;
                    }
                    &__tags {
                        display: flex;
                        gap: var.$space-2px;
                        align-items: center;
                        p {
                            font-size: var.$space-8px + 2px;
                            padding: var.$space-2px var.$space-8px;
                            background-color: var.$grey;
                        }
                    }
                }
                .ratingArea {
                    display: flex;
                    align-items: center;
                    gap: var.$space-4px;
                    .rating {
                        display: flex;
                        align-items: center;
                        gap: var.$space-2px;
                        & > span {
                            display: inline-flex;
                        }
                    }
                    & > p {
                        display: inline-flex;
                        align-items: flex-end;
                        font-size: var.$space-12px - 2px;
                        height: fit-content;
                        span {
                            display: block;
                            font-size: var.$space-12px + 2px;
                        }
                        .text {
                            margin-left: var.$space-4px;
                            text-transform: none;
                            // color: var.$grey;
                            font-size: var.$space-12px - 2px;
                        }
                    }
                }
            }
        }
    }

    .searchErrorMsg {
        display: flex;
        // align-items: flex-start;
        align-items: center;
        gap: var.$space-4px;
        background: var.$light-blue;
        border-radius: var.$space-12px;
        padding: var.$space-2px var.$space-8px;
        transition: all 300ms ease;
        position: relative;
        span {
            width: fit-content;
            height: fit-content;
            display: inline-flex;
            margin: 0;
            padding: 0;
        }
        p {
            font-size: var.$space-12px;
        }
    }
}
